@import "tailwindcss";
@source "../node_modules/@streamdown/cjk/dist/*.js";
@source "../node_modules/@streamdown/code/dist/index.js";
@source "../node_modules/@streamdown/math/dist/*.js";
@source "../node_modules/@streamdown/mermaid/dist/*.js";
@import "./styles/tokens.css";
@import "./styles/streamdown.css";
@import "./styles/svg.css";

@theme {
  --animate-shimmer: shimmer 2s infinite;
  --color-mocha: #aebe79;
}

@keyframes shimmer {
  0% {
    background-position: -200% 0;
  }
  100% {
    background-position: 200% 0;
  }
}

.root {
  isolation: isolate;
}

body {
  position: relative;
}
